<mat-toolbar class="top-bar" color="primary">
  <button [routerLinkActiveOptions]="{ exact: true }"  routerLink="/blog" mat-button routerLinkActive="mat-accent">Blog</button>
  <button  routerLink="/personal-data" mat-button routerLinkActive="mat-accent">About Me</button>
  <button routerLink="/projects" mat-button routerLinkActive="mat-accent">Projects</button>
  <button routerLink="/courses" mat-button routerLinkActive="mat-accent">Courses</button>
  <button routerLink="/videos" mat-button routerLinkActive="mat-accent">Videos</button>
</mat-toolbar>

