<div style="padding-top: 10px;">
  <mat-card>
    <mat-card-title style="text-align: center;">Search by tags</mat-card-title>
    <input style="margin-bottom: 10px;" matInput placeholder="Filter tags" [(ngModel)]="filterValue"
      (ngModelChange)="filterTagsByName()">
    <div style="padding-bottom: 10px;">
      <button color="accent" (click)="clearTagSearch()" mat-raised-button>Clear</button>
    </div>
    <mat-card-content>
      <mat-chip-list>
        <p *ngIf="tags.length === 0">No results from filter!</p>
        <mat-chip color="primary" *ngFor="let tag of tags" (click)="sortByTagName(tag.name)" mat-raised-button>
          {{tag.name}} : {{tag.count}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>


<hr />
<div>
  <div *ngFor="let blogPost of blogPosts">
    <mat-card color="primary" class="post-card">
      <mat-card-title style="text-align: center;">{{blogPost.title}}</mat-card-title>
      <mat-card-content>
        <p style="text-align: right;">{{blogPost.date}}</p>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let tag of blogPost.tags">{{tag}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions style="text-align: center;">
        <button [routerLink]="['/post/', blogPost.title]" color="primary" mat-button>Open</button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>


  <router-outlet></router-outlet>