<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Title</mat-label>
  <input matInput placeholder="Some title..." />
</mat-form-field>
<mat-divider></mat-divider>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Date</mat-label>
  <input matInput placeholder="Some date..." />
</mat-form-field>
<mat-divider></mat-divider>

<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Tags</mat-label>
  <mat-chip-list #chipList aria-label="Tag selection">
    <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
      {{ tag }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="New tag..."
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
</mat-form-field>
<mat-divider></mat-divider>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Content Path</mat-label>
  <input matInput placeholder="assets/blog/test.md" />
</mat-form-field>
<mat-divider></mat-divider>

<button mat-button>Create Post</button>
